.posterImage{
    height: 600px;
    
}


.posterImage__overlay {
    position: absolute;
    padding: 5rem;
    bottom: 0px;
   
    height: 50%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgba(56, 50, 50, 0), rgb(0,0,0,1));
    opacity: 1;
    transition: opacity .3s;
    /* background-color: aliceblue; */

}   


.posterImage__title {
    font-weight: 600;
    font-size: 4rem;
    width: 100%;
 
    text-align: left;
}

.posterImage__runtime {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.posterImage__rating {
    margin-left: 3rem;
}

.posterImage__description {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 90%;
}
@media screen and (max-width: 550px) {
    .posterImage{
      height: fit-content;
    }
    .posterImage__title  {
        position: absolute;
        top:10px;
        width: 100%;
        left: 1%;
        font-size: 2rem;

      
     

    }

    .posterImage__runtime {
        position: absolute;
        top:100px;
        width: 90%;
        right: 45%;
        font-size: 0.8rem;
    }
    
     .posterImage__rating{
        position: absolute;
        /* top:130px; */
        width: 90%;
        left: 10%;
        font-size: 0.8rem;
    }
    .posterImage__description {
       z-index: -1;
    }
  }

  @media screen and (max-width: 750px) {
    
    .posterImage__description {
       z-index: -1;
    overflow: hidden;
    }
    .posterImage{
        height: 100%;
        
    }
    
.posterImage__overlay {
   
    height: 40%;
    

}   
    .posterImage__title  { 
        width: 100%;
    }
   
    
  }
